<div [class]="'tags-wrapper ' + materials_type ">
  <ion-button *ngFor="let mat of chips;"
    [ngClass]="mat.class"
    [color]="mat.class"
    [style.background-color] = "mat.color != undefined ? mat.color : ''"
    [style.color]="mat.contrast_color != undefined ? mat.contrast_color : ''"
    (click)="itemSelected(mat)"
    >
    <img class="left" *ngIf="mat.icon != ''" src="{{mat.icon}}" alt="imagen de residuo">
    <ion-icon *ngIf="mat.icon == ''" class="ion-float-left"
    name="dr-{{mat.class}}"></ion-icon>
    <ion-label [innerHTML]="mat.name"></ion-label>
  </ion-button>
</div>
