<ion-header>

  <ion-toolbar>
    <ion-title>Novedades</ion-title>

    <ion-buttons end>
      <ion-button color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-button color="transparent" slot="end">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card *ngFor="let item of novedades">

    <ion-item>
      <h2>{{item.title}}</h2>
    </ion-item>

    <img [src]="item.img">

    <ion-card-content>
      <p>{{item.body}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button color="primary" size="small">
            <ion-icon slot="start" name='thumbs-up'></ion-icon>
            12 Likes
          </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" size="small">
            <ion-icon slot="start" name='chatbox'></ion-icon>
            4 Commentarios
          </ion-button >
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>