:host {
  ion-content{
    --padding-start: 5vw;
    --padding-end: 5vw;
    font-size: 16px;
    line-height: 1.5;
    .swiper-prev, .swiper-next {
      top: 0;
    }
    &.programs {
      --padding-start: 0;
      --padding-end: 0;
    }
  }
  h1, p {
    width: 100%;
  }
  h2 {
    margin-bottom: 3px;
  }
  a {
    font-weight: bold;
    line-height: 0.94;
    color: var(--pale-olive-green);
    text-decoration: none;
  }
  .tags {
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--greyish-brown);
    }
    .tag {
      .tag-program-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .tag-program {
          width: 106px;
          margin: 10px 8px;
          ion-button {
            height: 106px;
            width: 106px;
            border-radius: 16px;
            --padding-start: 0;
            --padding-end: 0;
            margin: 0;
            img {
              width: 100%;
            }
          }
          h6 {
            text-align: center;
            margin-top: 10px;
            font-size: 13px;
            font-weight: normal;
          }
        }
      }
    }
  }
  ion-slides{
    //overflow: visible;
    ion-slide{
		  transition: 100ms ease-in-out;
      display: block;
      text-align: left;
      .slide-head {
        //min-height: calc(12vw + 16vh);
        min-height: 120px;
        .image-wrapper {
          height: calc(120px + 10vw);
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          text-align: center;
          border-radius: 0 0 16px 16px;
          padding: 0;
          background-color: #000;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
        /*img {
          height: calc(12vw + 16vh);
          width: calc(100% - 6vw);
          border-radius: 16px;
        }*/
      }
      .slide-content{
        opacity: 1;
        padding: 0 5vw 60px 5vw;
        .slide-title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 12px;
        }
        .slide-body {
          margin: 10px 0 20px 0;
        }
        .slide-description {
          margin: 10px 0;
        }
        .slide-body {
          display: inline-block;
          margin-left: 2px;
          margin-right: 12px;
          margin-top: 4px;
          margin-bottom: 4px;
        }
        .contenedores {
          margin-top: 20px;
        }
        .location-tag {
          margin-top: 20px;
        }
        .slide-body-supporters {
          display: inline-block;
          margin-right: 12px;
        }
        .slide-body-supporters:after {
          content: ", ";
          color: var(--pale-olive-green);
        }
        .slide-body-supporters:nth-last-of-type(1):after {
          content: ". ";
          color: var(--pale-olive-green);
        }
        .receives::before,
        .receives-no::before {
          float: left;
          content: "";
          width: 9px;
          height: 9px;
          border-radius: 6px;
          margin: 10px 11px 0 0;
        }
        .receives::before {
          background-color: var(--bluish-green);
        }
        .receives-no::before {
          background-color: var(--vermillion);
        }
      }
      .card-thumbs img {
        border-radius: 16px;
        float: left;
        width: calc(33.3% - 3px);
        margin-right: 4px;
        &.last {
          margin-right: 0px;
        }
      }
      &.swiper-slide-next{
        .under-image,
        img{
          margin-left: -4vw;
        }
        .slide-content{
          opacity: 0;
        }
      }
      // &.swiper-slide-active{
      //   img{
      //     margin-left: -5%;
      //   }
      // }
      &.swiper-slide-prev{
        .under-image,
        img{
          margin-left: 4vw;
        }
        .slide-content{
          opacity: 0;
        }
      }
    }
  }
}
