:host {
  z-index: 0;
  ion-toolbar {
    --min-height: 90px;
  }
  ion-buttons {
    margin: 0;
    ion-img {
      height: 56px;
      margin: 12px 12px 20px 0;
      img {
        width: auto;
      }
    }
    ion-button {
      color: var(--pale-olive-green);
    }
  }
}
