:host {
  z-index: 402;
  background: var(--dark-sea-green);
  .header-mobile.header-md::after {
    display: none;
  }
  ion-toolbar {
    display: flex;
    .toolbar-wraper {
      width: 100%;
      display: inline-flex;
    }
  }
  ion-buttons {
    flex: 1 0 auto;
    justify-content: flex-end;
    margin: 0;
    padding-top: 2px;
    ion-img {
      height: 56px;
      margin: 12px 12px 20px 0;
      width: initial;
      image {
        width: initial;
      }
    }
    &.left {
      padding-right: 0;
    }
    ion-button {
      --padding-top: 8px;
      --padding-end: 8px;
      --padding-bottom: 8px;
      --padding-start: 8px;
      width: 40px;
      height: 40px;
    }
  }
  ion-fab {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    padding-top: 2px;
    ion-fab-list {
      position: absolute;
      align-items: center;
      height: 100%;
      margin-left: 50px;
      padding-top: 1px;
      background: var(--dark-sea-green);
    }
    ion-fab-button {
      --background: none;
      --border-radius: 11px;
      --box-shadow: none;
      width: 40px;
      height: 40px;
      ion-icon {
        border-radius: 6px;
      }
    }
  }
  ion-img.logo {
    max-width: 167px;
    margin: 0 6px 0 12px;
  }
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-sea-green);
    opacity: 0.8;
    span {
      color: #fff;
    }
    ion-button {
      width: 72px;
      height: 72px;
      ion-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
