<ion-header [hidden]=headerHidden>
  <ion-toolbar>
    <ion-img class="logo"
      routerLink="/"
      slot="start"
      src="assets/img/donde_reciclo.png"
      alt="Donde Reciclo">
    </ion-img>
    <ion-buttons slot="end">
      <ion-button color="pale-olive-green"
        (click)="showShareModal()"
        slot="end">
        <ion-icon name="dr-share"
        slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="pale-olive-green"
        (click)="toggleMenu()"
        slot="end">
        <ion-icon name="dr-menu"
        slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
