<ion-header id="header-main" [class]="'header-' + display">
  <ion-buttons class="back-button">
    <ion-button *ngIf="session.showBackButton || backButton" (click)="goBack()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-img [class]="display == 'mobile' ? 'logo' : 'logo ion-hide-lg-up'"
      routerLink="/"
      routerDirection="root"
      slot="start"
      src="assets/img/logo_dr_horizontal.svg"
      alt="Logo ¿Dónde Reciclo?">
    </ion-img>
    <div [class]="display != 'mobile' ? 'toolbar-wraper' : 'toolbar-wraper ion-hide-lg-up'" >
      <ion-fab vertical="center" *ngIf="session.country != undefined">
        <ion-fab-button class="main">
          <ion-icon name="dr-{{environment[this.session.country].code.toLowerCase()}}"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button (click)="session.setCountry('Uruguay')">
            <ion-icon name="dr-uy"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="session.setCountry('Colombia')">
            <ion-icon name="dr-col"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="vidrios"
          (click)="showShareModal()"
          slot="end">
          <ion-icon name="dr-share"
          slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button class="ion-hide-lg-up"
          color="pale-olive-green"
          (click)="toggleMenu()"
          slot="end">
          <ion-icon name="dr-menu"
          slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<div class="overlay" *ngIf="session.country == undefined">
  <span>Seleccionar país:</span>
  <ion-buttons>
    <ion-button (click)="session.setCountry('Uruguay')">
      <ion-icon
        class="country-selector"
        slot="icon-only"
        name="dr-uy">
      </ion-icon>
    </ion-button>
    <ion-button (click)="session.setCountry('Colombia')">
      <ion-icon
        class="country-selector"
        slot="icon-only"
        name="dr-col">
      </ion-icon>
    </ion-button>
  </ion-buttons>
</div>
