
<ion-content>
  <ion-button (click)="dismissShareModal()">
    <ion-icon name="dr-close-green"></ion-icon>
  </ion-button>
  <h1>¿Te gusta la app?</h1>
  <p>Compartila y nos ayudas a seguir generando buenas acciones</p>
  <div class="social-links">
    <ion-toolbar>
      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon slot="icon-only"
            name="dr-twitter"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only"
            name="dr-instagram"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only"
            name="dr-linked-in"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only"
            name="dr-facebook"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-content>
