<app-header
  display="small"
  backButton="true">
</app-header>
<ion-content class="news-detail">
  <div class="section-header image-wrapper">
    <img *ngIf="article.images" src="{{article.images[0]}}" alt="Novedad imagen"/>
  </div>
  <div class="section-body">
    <h1 [innerHTML]="article.title"></h1>
    <span class="sub-light" *ngIf="article.created_at" [innerHTML]="article.created_at.split('T')[0]"></span>
    <div class="description" [innerHTML]="article.information"></div>
  </div>

</ion-content>
