<ion-split-pane contentId="menu-content">
  <ion-menu #sidemenu
    contentId="menu-content"
    menuId="main-menu"
    type="overlay"
    side="start"
    class="mainMenu ion-no-shadow"
    (ionWillOpen)="menuWillOpen()"
    (ionDidClose)="menuWillClose()">
    <app-header display="mobile"></app-header>
    <ion-content class="menu-list">
      <ion-list>
        <ion-item lines="none" class="label">
          <ion-label>Reciclaje</ion-label>
        </ion-item>
        <ion-item
          *ngIf="session.country == 'Uruguay'"
          (click)="toggleMenu('https://cempre.org.uy/category/informacion/fichas-tecnicas/')"
          lines="none"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="dr-fichas"></ion-icon>
          <div>
            <h4>Fichas sobre materiales</h4>
            <p>Origen, flujo e información relevante.</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item
          *ngIf="session.country == 'Uruguay'"
          (click)="toggleMenu('https://cempre.org.uy/buenas-practicas/')"
          lines="none"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="dr-consejos"></ion-icon>
          <div>
            <h4>Consejos</h4>
            <p>¿Cómo clasificar?</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item
          *ngIf="session.country != 'Uruguay'"
          (click)="toggleMenu()"
          lines="none"
          routerLink="/fichas"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="dr-fichas"></ion-icon>
          <div>
            <h4>Fichas sobre materiales</h4>
            <p>Origen, flujo e información relevante.</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item
          *ngIf="session.country != 'Uruguay'"
          (click)="toggleMenu()"
          lines="none"
          routerLink="/consejos"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="dr-consejos"></ion-icon>
          <div>
            <h4>Consejos</h4>
            <p>¿Cómo clasificar?</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item
          (click)="toggleMenu()"
          lines="none"
          routerLink="programas"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="dr-programas"></ion-icon>
          <div>
            <h4>Programas</h4>
            <p>Ciclo de vida de los residuos</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item
          *ngIf="session.country == 'Uruguay'"
          (click)="toggleMenu()"
          lines="none"
          routerLink="/clasificadores"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start" name="helmet-safety"></ion-icon>
          <div>
            <h4>Personas clasificadoras</h4>
            <p>Información para formalización</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="label">
          <ion-label>Donde Reciclo</ion-label>
        </ion-item>
        <ion-item
          *ngFor="let p of appDR"
          (click)="toggleMenu()"
          lines="none"
          [routerLink]="p.url"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start"
            [name]="p.icon"></ion-icon>
          <div>
            <h4>{{p.title}}</h4>
            <p>{{p.desc}}</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="label">
          <ion-label>Mi cuenta</ion-label>
        </ion-item>
        <ion-item lines="none"
          (click)="toggleMenu()"
          detail-icon="none"
          class = "ion-activatable"
          routerLink="/usuario/perfil"
          routerDirection="forward"
          routerLinkActive="active-item"
          *ngIf="auth.isLogged">
          <ion-icon slot="start" name="dr-session"></ion-icon>
          <div>
            <h4>Mi Perfil</h4>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none"
          (click)="toggleMenu()"
          detail-icon="none"
          routerLink="/usuario/ingresar"
          routerDirection="forward"
          routerLinkActive="active-item"
          *ngIf="!auth.isLogged">
          <ion-icon slot="start" name="dr-session"></ion-icon>
          <div>
            <h4>Iniciar Sesión</h4>
          </div>
          <ion-icon slot="end"
            name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none"
          (click)="closeSession()"
          detail-icon="none"
          routerDirection="forward"
          routerLinkActive="active-item"
          class = "ion-activatable"
          *ngIf="auth.isLogged">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <div>
            <h4>Cerrar Sesión</h4>
          </div>
          <ion-icon slot="end"
            name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item class= "register"
          *ngIf="!auth.isLogged"
          lines="none">
          <ion-button (click)="toggleMenu()" routerLink="usuario/nuevo" size="large" type="submit" class="submit">Registrarme</ion-button>
        </ion-item>
        <ion-item
          lines="none"
          routerLink=""
          routerDirection="root"
          [routerLinkActiveOptions]="{ exact: true }"
          detail-icon="none"
          routerLinkActive="active-item"
          class="inicio"
          (click)="toggleMenu()"
          >
          <div>
            <h4>Volver al mapa</h4>
          </div>
          <ion-icon slot="end"
          name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="secondary-menu"
          (click)="introSlide()"
          detail-icon="none"
          routerDirection="forward"
          routerLink="/">
          <div>
            <h5>Repetir introducción</h5>
          </div>
        </ion-item>
        <ion-item lines="none" class="secondary-menu"
          (click)="toggleMenu()"
          detail-icon="none"
          routerDirection="forward"
          routerLink="privacidad"
          routerLinkActive="active-item">
          <div>
            <h5>Política de Privacidad</h5>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content">
    <app-notification></app-notification>
  </ion-router-outlet>
</ion-split-pane>
