<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" menuId="main-menu" type="overlay"
  side="start" class="ion-no-shadow">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
          <ion-menu-toggle slot="end" auto-hide="true">
            <ion-button fill="clear" size="small">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-list">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active-item">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <div class="menu-rounded-bottom">
      </div>

      <ion-footer class="menu-social-links">
        asdf
      </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
