:host{

  ion-menu {
    --background: none;
    --minheight: 300px;
    --max-height: 100%;
    --width: 100%;

  }

  ion-backdrop {
    display: none !important;
    opacity: none !important;
    --backdrop-opacity: 1;
    --background: red !important;
  }

    #desktop-logo{
      // height: var(--dr-header-height-large);
      width: 100%;
      background: var(--dark-sea-green);
      text-align: left;
      z-index: 0;
      ion-img{
        display: inline-block;
        height: 56px;
        margin: 12px;
      }
    }

  ion-split-pane{
      --border: none !important;
      ion-menu{
        @media (max-width: 991px) {
          margin-top: var(--dr-header-height-full);
          ion-header {
            height: 0;
            display: none !important;
          }
        }
        --background:rgba(0, 0, 0, 0.8);
      }
  }

  ion-header {
    // width: 80%;
    // left: 10%;
    --background: none;
    /* Using plain CSS */
  }

  ion-content {
    --background: var(--dark-sea-green);
    --offset-bottom: 200px;
  }

  ion-list {
    --background: none;
    background: var(--dark-sea-green);
    padding-top: 0;
    // --width: 80%;
    // left: 10%;
    --font-size: 20px;

    ion-item {
      --background: none;
      --color: white;
      --padding-top: 16px;
      --padding-bottom: 16px;
      background: none;
      margin: 0;
      cursor: pointer;
      h5{
        color: white;
      }

      &.active-item {
        background: white;
        border-left: none;
        h4{
          color:  var(--pale-olive-green);
        }
        h5{
          color:  var(--pale-olive-green);
        }
        p{
          color:  var(--pale-olive-green);
        }
        ion-avatar{
          color:  var(--pale-olive-green);
        }
        ion-icon{
          color: var(--pale-olive-green);
        }
        &.inicio{
          display: none;
        }
      }
      h4{
        margin: 0;
        color: white;
      }
      p{
        margin: 0;
        color: white;
      }
      ion-avatar{
        color: white;
      }
      ion-icon{
        color: white;
        font-size: 35px;
        margin: 0 27px 0 0;
        &[slot="end"]{
          margin: 0;
        }
      }
    }
  }
  .menu-rounded-bottom{
    position: relative;
    background:var(--dark-sea-green);
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
    height: 46px;
  }
  .menu-social-links{
    height: 130px;
    background: none;
    ion-toolbar{
      --background: none;
      max-width: 375px;
      margin: 0 auto;

      ion-buttons{
        height: 65px;
        & > * {
          // width: auto;  /* Or whatever */
          // height: auto; /* Or whatever */
          margin: auto;  /* Magic! */
        }
        span{
          color: white;
          font-weight: normal;
          font-size: 14px;
        }
        ion-button{
          --border-radius: 11px;
          --padding-end: 0;
          --padding-top: 0;
          --padding-start: 0;
          --padding-bottom: 0;
          ion-icon{
            font-size: 38px;
            // --font-size: 50px;
          }
        }
      }
    }
  }
}
