<ion-split-pane contentId="menu-content">
  <ion-menu #sidemenu
    contentId="menu-content"
    menuId="main-menu"
    type="overlay"
    side="start"
    class="mainMenu ion-no-shadow"
    (ionWillOpen)="menuWillOpen()"
    (ionDidClose)="menuWillClose()">
    <ion-header class="ion-no-border">
      <ion-buttons id="desktop-logo">
        <ion-img class="logo"
          routerLink="/"
          routerDirection="root"
          src="assets/img/donde_reciclo.png"
          alt="Logo ¿Dónde Reciclo?">
        </ion-img>
      </ion-buttons>
    </ion-header>
    <ion-content class="menu-list">
      <ion-list>
        <ion-item
          *ngFor="let p of appPages"
          (click)="toggleMenu()"
          lines="none"
          [routerLink]="p.url"
          routerLinkActive="active-item"
          detail-icon="none">
          <ion-icon slot="start"
            [name]="p.icon"></ion-icon>
          <div>
            <h4>{{p.title}}</h4>
            <p>{{p.desc}}</p>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none"
          (click)="session.notificationCommingSoon(); toggleMenu();"
          detail-icon="none"
          routerDirection="forward"
          routerLinkActive="active-item"
          *ngIf="auth.isLogged">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div>
            <h4>Mi Perfil</h4>
          </div>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none"
          (click)="toggleMenu()"
          detail-icon="none"
          routerLink="/usuario/ingresar"
          routerDirection="forward"
          routerLinkActive="active-item"
          *ngIf="!auth.isLogged">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <div>
            <h4>Iniciar Sesión</h4>
          </div>
          <ion-icon slot="end"
            name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none"
          (click)="closeSession()"
          detail-icon="none"
          routerDirection="forward"
          routerLinkActive="active-item"
          *ngIf="auth.isLogged">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <div>
            <h4>Cerrar Sesión</h4>
          </div>
          <ion-icon slot="end"
            name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item class= "inicio"
          lines="none"
          (click)="toggleMenu()"
          detail-icon="none"
          routerDirection="forward"
          routerLink="intro"
          routerLinkActive="active-item">
          <ion-icon slot="start"
            name="dr-inicio"></ion-icon>
          <div>
            <h4>Volver al mapa</h4>
          </div>
          <ion-icon slot="end"
            name="chevron-forward-outline"></ion-icon>
        </ion-item>
        <ion-item class= "register"
          *ngIf="!auth.isLogged"
          lines="none">
          <ion-button (click)="toggleMenu()" routerLink="usuario/nuevo" size="large" type="submit" class="submit">Registrarme</ion-button>
        </ion-item>
        <ion-item lines="none"
          (click)="introSlide()"
          detail-icon="none"
          routerDirection="forward"
          routerLink="intro">
          <div>
            <h5>Repetir introducción</h5>
          </div>
        </ion-item>

      </ion-list>
    </ion-content>
    <div class="menu-rounded-bottom">
    </div>

    <ion-footer class="menu-social-links">
      <!-- <ul >
        <li><ion-text slot="start">Seguinos en:</ion-text></li>
      </ul> -->
      <ion-toolbar>
        <ion-buttons>
          <span>Seguinos en:</span>
          <ion-button href="https://twitter.com/CempreUy" target=_blank fill="clear">
            <ion-icon slot="icon-only"
              name="dr-twitter"></ion-icon>
          </ion-button>
          <ion-button href="https://www.instagram.com/cempreuy/" target=_blank fill="clear">
            <ion-icon slot="icon-only"
              name="dr-instagram"></ion-icon>
          </ion-button>
          <ion-button href="https://www.facebook.com/compromisoempresarialparaelreciclaje" target=_blank fill="clear">
            <ion-icon slot="icon-only"
              name="dr-facebook"></ion-icon>
          </ion-button>
          <ion-button href="https://www.linkedin.com/company/cempreuruguay" target=_blank fill="clear">
            <ion-icon slot="icon-only"
              name="dr-linked-in"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu-content">
  </ion-router-outlet>
</ion-split-pane>
