<ion-content>
  <ion-tabs *ngIf="!keyboard.isVisible" selectedIndex="2">
    <ion-tab-bar #tab slot="bottom">
      <ion-tab-button tab="sobre-el-proyecto" tabsHideOnSubPages="true">
        <ion-icon name="information-outline"></ion-icon>
        <ion-label>Sobre el proyecto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mapa" tabsHideOnSubPages="true">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contacto" tabsHideOnSubPages="true">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>