ion-tab-button {
	--color-focused: var(--pale-olive-green);

	:focus {
		ion-icon {
			// color: var(–ion-color-tertiary) !important;
			// –ion-color-base: var(–ion-color-tertiary) !important;
		}
	}
}

ion-tab-bar {
	&.hide {
		transform: translateY(56px);
		height: 0;
	}
	-webkit-transition: transform 0.3s linear, height 0.3s linear;
	-o-transition: transform 0.3s linear, height 0.3s linear;
	transition: transform 0.3s linear, height 0.3s linear;
	height: 66px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	ion-tab-button {
		height: 66px;
		// hover tab state
		* {
			transition: 100ms ease-in-out;
		}

		ion-icon {
			font-size: 30px;
			color: white;
		}

		ion-label {
			opacity: 0;
			height: 0;
			visibility: hidden;
			color: white;
		}
		// selected tab state
		&:hover, &.tab-selected {
			ion-icon {
				color: var(--pale-olive-green);
				font-size: 34px;
			}

			ion-label {
				color: var(--pale-olive-green);
				visibility: visible;
				height: 15px;
				opacity: 1;
			}
		}

	}
}
