<ion-header>
  <ion-toolbar>
    <ion-title>mapa3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="cursor: pointer" (click)="locatePosition()">
      <ion-button fill="clear">
          
          <ion-icon slot="start" name="locate"></ion-icon>
          Mi ubicación
      </ion-button>
    </ion-item>

    <ion-button shape="round" expand="block" (click)="confirmPickupLocation()">Elegir esta ubicación</ion-button>

    <div id="map" style="height:100%; width: 100%;"></div>
</ion-content>
