:host {
  --ion-toolbar-background: #fff;
  --border: none;
  z-index: 11;
  // changed this
  // height: calc(100% - 3.5rem);
  // position: relative;

  // for this to have map loaded right.
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 3.5rem;


  ion-slides {
    height: 100%;
    font-family: SourceSansPro;
    text-align: center;
    ion-slide {
      background-color: var(--dark-sea-green);
      .slide-container{
        height: 100%;
        .slide-top {
          height: 50%;
          img {
            margin: 40px;
            max-height: calc(100% - 80px);
          }
        }
        .slide-bottom {
          padding: 40px;
          height: 50%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          background-color: #fff;
          margin-bottom: 60px;
          .title {
            font-size: 28px;
            color: var(--dark-sea-green);
          }
          .slide-description {
            font-size: 20px;
            line-height: 1.5;
            color: var(--greyish-brown);
            margin: 0;
          }
        }
      }
    }
    --bullet-background: var(--warm-grey);
    --bullet-background-active: var(--pale-olive-green);
  }
  .footer-md::before {
    top: 0;
    background: none;
  }
  a {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--warm-grey);
    letter-spacing: 0.2px;
    text-align: center;
    margin: 34px 28px;
  }
  a.next {
    color: var(--pale-olive-green);
  }
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    opacity: 0.5;
  }
}
