:host {
  --ion-toolbar-background: #fff;
  --border: none;
  z-index: 1010;
  // changed this
  // height: calc(100% - 3.5rem);
  // position: relative;

  // for this to have map loaded right.
  position: absolute;
  width: 100%;
  height: 93%;
  top: 0;
  bottom: 3.5rem;

  ion-slides {
    height: 100%;
    font-family: SourceSansPro;
    text-align: center;
    ion-slide {
      background-color: var(--dark-sea-green);
      .slide-container{
        height: 100%;
        width: 100%;
      .slide-top {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
        @media only screen and (min-width: 576px) {
          height: 70%;
        }
      img {
          max-width: none;
          height: 100%;
        }
        }
        .slide-bottom {
          padding: 40px;
          height: 60%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          background-color: #fff;
          margin-bottom: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          @media only screen and (min-width: 576px) {
            height: 30%;
          }
          .title {
            font-size: 28px;
            color: var(--dark-sea-green);
            margin: 10px auto 10px;
            width: 100%;
            max-width: 600px;
            @media only screen and (max-width: 360px) {
              font-size: 20px;
            }
          }
          .slide-description {
            font-size: 20px;
            line-height: 1.5;
            color: var(--greyish-brown);
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            @media only screen and (max-width: 360px) {
              font-size: 16px;
            }
          }
        }
      }
    }
    --bullet-background: var(--vidrio-secundario);
    --bullet-background-active: var(--pale-olive-green);
  }
  ion-footer {
    background: white;
    height: 10%;
  }
  ion-grid {
    padding: 10px;
  }
  .footer-md::before {
    top: 0;
    background: white;
  }
  a {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: var(--vidrio-secundario);
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 28px;
  }
  a.next {
    color: var(--pale-olive-green);
  }
}
