<ion-content no-bounce >
  <ion-slides #slides pager="true">
    <ion-slide *ngFor="let slide of homeSlides">
      <div>
      <!-- <img [src]="slide.image" class="slide-image" /> -->
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <!-- <img src="/assets/img/ica-slidebox-img-4.png" class="slide-image" /> -->
        <h2 class="slide-title">Fin</h2>
        <ion-button icon-end large clear (click)="goApp()">
          Comenzar
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="swiper-button-prev swiper-button-black" (click)="prevSlide()"></ion-button>
      <div slot="end">
        <ion-button (click)="goApp()" color="primary">Saltar</ion-button>
      </div>
      <ion-button class="swiper-button-next swiper-button-black" (click)="nextSlide()"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
