
<app-header></app-header>

<ion-content no-bounce>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="transparent">
      <ion-icon name="locate-outline" (click)="locatePosition()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h5 *ngIf="dataFromModal">Data from Modal : {{ dataFromModal.data.ionic }}</h5>
  <div id="map" style="height:100%; width: 100%;" center='Montevideo, Uruguay'
  (leafletMapReady)="onMapReady($event)"></div>

</ion-content>

<div #infoPane class="cupertino-pane">
  <ion-item class="header">
    <ion-icon slot="start">
      <img src="{{container.program_id}}">
    </ion-icon>
    <div>
      <p size="small">Programa</p>
      <h5>{{container.program}}</h5>
    </div>
    <ion-icon slot="end" class="{{container.type_id}}">
    </ion-icon>
  </ion-item>

  <ion-item>
    <div>
      <h5>{{container.location}}</h5>
      <p>{{container.address}}</p>
      <ion-icon slot="end">
        <img *ngIf="container.photos?.length" src="container.photos[0]">
      </ion-icon>
      <ion-icon name="add-circle-outline" color="--pale-olive-green"></ion-icon>
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
      <h5>Horario</h5>
      <p>9:00 - 21:00 hs (aprox.)</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h4><ion-icon name="camera-outline"></ion-icon> Subir otra foto</h4>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h6><div class="circle green"></div> Recibe:</h6>
      {{container.receives_no}}
      <div class="recibe-text">{{container.materials}}</div>
      <ion-button *ngFor="let material of container.materials" class="{{material.class}}">
        <ion-icon class="left" src="{{material.class}}.svg"></ion-icon>
        <ion-label>{{material.name}}</ion-label>
      </ion-button>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h6><div class="circle green"></div>No Recibe:</h6>
      <div class="recibe-text">{{container.receives_no}}</div>
    </ion-label>
  </ion-item>
</div>
