:host {
  z-index: 400;
  ion-content {
    ion-item {
      overflow: visible;
    }
    .no-height {
      height: 0;
    }
    .cupertino-pane {
      &.desktop {
        overflow: hidden;
        .scrollable-div {
          height: calc(70vh - 188px);
        }
      }
      .pane-container {
        height: 100%;
      }
      .scrollable-div {
        overflow-y: auto;
        height: calc(90vh - 164px);
      }
      h5 {
        margin: 0;
      }
      span {
        font-size: 14px;
        color: var(--vidrio-secundario);
      }
      p {
        margin: 0;
      }
      img {
        width: 100%;
      }
      ion-item {
        --padding-start: 14px;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
        &.header {
          margin-top: 10px;
        }
        .tags-wrapper {
          ion-button {
            margin-right: 12px;
            ion-icon {
              margin-right: 6px;
            }
          }
        }
        &.header {
          .title-wrapper {
            height: 100%;
          }
          ion-avatar {
            margin: 2px 11px 20px 0;
            height: 47px;
            width: 47px;
          }
        }
        &.last-item {
          margin-bottom: 30px;
        }
        &.panel-footer {
          margin-top: 10px;
          margin-bottom: 20px;
          padding-top: 16px;
          border-top: solid 1px rgba(151, 151, 151, 0.26);
          a {
            font-size: 18px;
            font-weight: bold;
            ion-icon {
              width: 33px;
            }
          }
          ion-row {
            width: 100%;
          }
        }
        &.label-item {
          margin-bottom: 12px;
        }
        .add-photo {
          ion-icon {
            margin: 2px 10px 0 0;
            width: 20px;
            height: 20px;
            &[ng-reflect-name="close-circle"] {
              color: var(--brand-red);
              margin-top: 1px;
            }
          }
          h5.close-circle {
            color: var(--brand-red);
          }
        }
      }
      ion-button {
        &.vidrios {
          border: solid 1px var(--ion-color-contrast);
          border-radius: 6px;
        }
      }
      ion-avatar.main {
        width: 54px;
        height: 54px;
        position: absolute;
        right: 14px;
        top: 0;
        margin: 0;
      }
      .cupertino-outofbox-image {
        position: absolute;
        z-index: 10;
        right: 14px;
        top: -22px;
        width: 80px;
        height: 92px;
      }
      ion-icon.badge {
        cursor: pointer;
        position: absolute;
        right: 54px;
        top: 30px;
        margin: 0;
        fill: var(--pale-olive-green);
        width: 29px;
        height: 29px;
      }
      .subprogram-list {
        .header {
          padding-bottom: 22px;
        }
        .scrollable {
          max-height: 48vh;
          position: relative;
          overflow-y: auto;
          ion-item {
            cursor: pointer;
          }
        }
      }
    }
    .back-button {
      --background: var(--vidrio);
      --border-radius: 26px;
      --box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
      position: absolute;
      width: 50px;
      height: 50px;
      left: 14px;
      top: 14px;
      z-index: 401;
      ion-icon {
        color: var(--pale-olive-green);
        height: 24px
      }
    }
    .locations {
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 401;
      padding: 0 12px;
    }
    .map-buttons {
      border-radius: 8px;
      --box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
      background: var(--vidrio);
      position: absolute;
      z-index: 401;
      width: 39px;
      height: 39px;
      --padding-start: 0;
      --padding-end: 0;
      font-size: 16px;
      color: var(--greyish-brown);
      margin: 0;
      left: 12px;
    }
    .map-locate {
      top: 270px;
    }
    .map-zones {
      top: 335px;
      &.active {
        width: 220px;
      }
      &.selected {
        background: var(--pale-olive-green);
        opacity: 0.9;
      }
      span {
        margin-left: 10px;
      }
    }
    .scheds {
      padding: 0 14px;
      h5 {
        cursor: pointer;
        ion-icon {
          height: 21px;
          width: 24px;
          margin-bottom: -8px;
        }
      }
      .today {
        font-weight: 900;
      }
    }

  }
}
