<app-header title="Crear cuenta"
  display="small"
  backButton="true">
</app-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col  size-md="9" size-lg="6" size-xs="12">
        <form [formGroup]="user_data" (ngSubmit)="register()" *ngIf="!( success || fail )">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input  formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select formControlName="sex">
              <ion-select-option text-wrap value="femenino">Femenino</ion-select-option>
              <ion-select-option text-wrap value="masculino">Masculino</ion-select-option>
              <ion-select-option text-wrap value="otre">No binario</ion-select-option>
              <ion-select-option text-wrap value="nc">Prefiero no decirlo</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Departamento</ion-label>
            <ion-select formControlName="state">
              <ion-select-option text-wrap value="Artigas">Artigas</ion-select-option>
              <ion-select-option text-wrap value="Canelones">Canelones</ion-select-option>
              <ion-select-option text-wrap value="Cerro Largo">Cerro Largo</ion-select-option>
              <ion-select-option text-wrap value="Colonia">Colonia</ion-select-option>
              <ion-select-option text-wrap value="Durazno">Durazno</ion-select-option>
              <ion-select-option text-wrap value="Flores">Flores</ion-select-option>
              <ion-select-option text-wrap value="Florida">Florida</ion-select-option>
              <ion-select-option text-wrap value="Lavalleja">Lavalleja</ion-select-option>
              <ion-select-option text-wrap value="Maldonado">Maldonado</ion-select-option>
              <ion-select-option text-wrap value="Montevideo">Montevideo</ion-select-option>
              <ion-select-option text-wrap value="Paysandú">Paysandú</ion-select-option>
              <ion-select-option text-wrap value="Río Negro">Río Negro</ion-select-option>
              <ion-select-option text-wrap value="Rivera">Rivera</ion-select-option>
              <ion-select-option text-wrap value="Rocha">Rocha</ion-select-option>
              <ion-select-option text-wrap value="Salto">Salto</ion-select-option>
              <ion-select-option text-wrap value="San José">San José</ion-select-option>
              <ion-select-option text-wrap value="Soriano">Soriano</ion-select-option>
              <ion-select-option text-wrap value="Tacuarembó">Tacuarembó</ion-select-option>
              <ion-select-option text-wrap value="Treinta y Tres">Treinta y Tres</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Barrio</ion-label>
            <ion-input formControlName="neighborhood" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input formControlName="age" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="confirmPassword" type="password"></ion-input>
          </ion-item>
          <ion-item class="tc" lines="none">
            <ion-checkbox formControlName="tc"></ion-checkbox>
            <ion-label> Acepto los términos y condiciones *</ion-label>
          </ion-item>

          <ion-row class="ion-justify-content-center section-header">
            <ion-col  size-md="7" size-lg="7" size-xs="12">
              <ion-button  size="large" type="submit" class="submit">Enviar</ion-button>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-note class="tc">
            <p>* De conformidad con la Ley N° 18.331, de Protección de Datos Personales y Acción de Habeas Data, de 11 de agosto de 2008 (LPDP), los datos suministrados quedarán incorporados en la Base de Datos “Usuarios/as DATA”, la cual será procesada exclusivamente para la finalidad de administrar acceso a herramientas en línea y obtener estadísticas de uso. Esos datos se recogerán a través de medios legítimos y sólo serán los imprescindibles para poder prestar el servicio requerido. Los datos personales serán tratados con el grado de protección adecuado, tomándose las medidas de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado por parte de terceros. El responsable de la Base de Datos es Datos Abiertos, Transparencia y Acceso a la Información D.A.T.A. y la dirección donde el titular podrá ejercer los derechos de acceso, rectificación, actualización, inclusión o supresión es contacto@datauy.org.</p>
            </ion-note>
          </ion-item>
        </form>
        <div *ngIf="success">
          <h3>Se ha creado tu usuario</h3>
          <p>En poco tiempo activaremos nuevas funcionalidades para que puedas participar activamente informando el estado de los contenedores, así como subir fotos para hacer más fácil el acceso para el resto. Muchas gracias.</p>
          <ion-button class="submit" [routerLink]='["/intro/mapa"]'>Volver al inicio</ion-button>
        </div>
        <div *ngIf="fail">
          <h3>No hemos podido crear tu cuenta</h3>
          <p>Por favor escríbenos a devops@data.org.uy y explícanos lo que pasa, valoramos mucho tu esfuerzo y te pedimos disculpas por las molestias ocasionadas. Muchas gracias</p>
          <ion-button class="submit error" (click)="clearResults()" [routerLink]='["/usuario/nuevo"]'>Volver a intentarlo</ion-button>
          <ion-button class="submit" (click)="clearResults()" [routerLink]='["/intro/mapa"]'>Ir al inicio</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
