ion-note {
  p {
    font-size: 12px;
    color: var(--vidrio-secundario);
  }
}
ion-checkbox {
  margin-right: 5px;
}
.item-input.sc-ion-label-md-h,
.item-input .sc-ion-label-md-h {
  max-width: inherit;
}
.tc {
  margin-top: 15px;
}
