<ion-header>
  <ion-toolbar>
    <ion-button color="" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchbarInModal slot="fixed" color="light"  placeholder="Buscá"></ion-searchbar>

  <ion-list-header>Busquedas frecuentes</ion-list-header>
  <p>
    <ion-chip solid color="brown">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Papel y cartón</ion-label>
    </ion-chip>
    <ion-chip solid color="violet">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Metales</ion-label>
    </ion-chip>
    <ion-chip solid color="danger">
      <ion-icon name="skull"></ion-icon>
      <ion-label>Residuos peligrosos</ion-label>
    </ion-chip>
    <ion-chip solid color="secondary">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Vidrio</ion-label>
    </ion-chip>
    <ion-chip solid color="primary">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Organico/humedo</ion-label>
    </ion-chip>
    <ion-chip solid color="mostard">
      <ion-icon name="copy"></ion-icon>
      <ion-label>Polilaminados</ion-label>
    </ion-chip>
  </p>
</ion-content>