<ion-content class="main-background">
  <ion-grid class="ion-align-items-center">
    <ion-row class="ion-justify-content-center">
      <ion-col  size-md="6" size-lg="8" size-xs="12">
        <img src="assets/img/404-icono.svg"/>
      </ion-col>
      <ion-col  size-md="6" size-lg="8" size-xs="12">
        <img class="logo" src="assets/img/donde_reciclo.png" alt="Donde Reciclo"/>
      </ion-col>
      <ion-col  size-md="6" size-lg="8" size-xs="12">
        <span class="error-actions">
          No encontramos la página que estás buscando.<br>
          ¿Querrías ir a la <a href="/">página de inicio</a>?
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
