<app-header display="full"></app-header>

<!--Uruguay-->

<ion-content class="inner-scroll" *ngIf="session.country == 'Uruguay'">
  <ion-grid>
    <ion-row class="ion-justify-content-center section-header">
      <ion-col  size-md="11" size-lg="10" size-xs="12">
        <div class="section-header">
          <h1>Políticas de Privacidad</h1>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Colombia-->

<ion-content class="inner-scroll" *ngIf="session.country == 'Colombia'">
  <ion-grid>
    <ion-row class="ion-justify-content-center section-header">
      <ion-col  size-md="11" size-lg="10" size-xs="12">
        <div class="section-header">
          <h1>Políticas de privacidad</h1>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
