<app-header display="full"></app-header>

<!--Uruguay-->

<ion-content class="inner-scroll" *ngIf="session.country == 'Uruguay'">
  <ion-grid>
    <ion-row class="ion-justify-content-center section-header">
      <ion-col  size-md="11" size-lg="10" size-xs="12">
        <div class="section-header">
          <h1>Políticas de Privacidad</h1>
          La presente Política de Privacidad establece los términos en que DATA Uruguay usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su aplicativo o sitio web. Esta organización sin fines de lucro está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
        </div>
        <h3>¿Qué información obtiene el aplicativo y como es utilizada?</h3>
        <h4>Información proveída por el usuario</h4>
        <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación. La descarga del aplicativo requiere que el usuario mantenga una cuenta de Apple App Store (iOS) y/o una cuenta de Google Play Store (Android) para descargar el o las aplicaciones.</p>

        <h4>Información obtenida automáticamente</h4>
        <p>Adicionalmente, el aplicativo puede recopilar de forma automática otro tipo de información, como ser: tipo de dispositivo móvil, país del usuario, dirección IP, el sistema operativo del dispositivo móvil e información de cómo se usa el aplicativo.</p>

        <h3>¿El aplicativo obtiene la información precisa y en tiempo real del dispositivo?</h3>
        <p>El aplicativo no recopila información precisa y en tiempo real de la ubicación del dispositivo en ningún momento. El uso de la cámara frontal y trasera del dispositivo es utilizado única y exclusivamente para la carga de imágenes en reportes.</p>

        <h3>Recolección automática de datos y publicidad</h3>
        <p>Podemos trabajar con compañías de analíticos para que nos ayuden a entender como el aplicativo es utilizado, como la frecuencia y duración de uso. Éstas proveeraán protección igual o equivalente a la establecida en ésta política.</p>

        <h3>Política de retención y manejo de información</h3>
        <p>Conservaremos los datos proveídos por el usuario y los recolectados automáticamente de forma indefinida, ya que se necesita para el uso correcto del aplicativo. La solicitud de modificación o eliminación toal de los datos de usuario se puede realizar a través de contacto@data.org.uy.</p>

        <h3>Uso de la información recogida</h3>
        <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.</p>
        <p>DATA Uruguay está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.</p>

        <h3>Cookies</h3>
        <p>Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.</p>
        <p>Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente, . Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.</p>

        <h3>Enlaces a Terceros</h3>
        <p>Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>

        <h3>Seguridad</h3>
        <p>Nos preocupamos por salvaguardar la confidencialidad de su información, por lo que contamos con las medidas necesarias para lograr este fin. Por ejemplo, limitamos el acceso a esta información a los empleados y contratistas autorizados que necesitan conocer dicha información para operar, desarrollar o mejorar nuestra aplicación. Tenga en cuenta que aunque nos esforzamos por proveer un nivel de seguridad razonable para manejar y procesar la información, pero ningún sistema de seguridad puede prevenir todas las brechas de seguridad potenciales.</p>

        <h3>Cambios</h3>
        <p>DATA Uruguay se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento. Le notificaremos de cualquier cambio en nuestra política de privacidad mediante la publicación de la nueva política de privacidad en esta página.</p>

        <h3>Su Consentimiento</h3>
        <p>Al utilizar los Servicios, usted está consintiendo a nuestro procesamiento de usuario proporcionada y automáticamente la información de Colección como se establece en esta Política de Privacidad de vez modificado por nosotros. “Proceso “, significa el uso de cookies en un dispositivo de la computadora / de mano o el uso o tocar a la información de cualquier manera, incluyendo, pero no limitado a , recoger, almacenar , borrar , utilizar la combinación y la divulgación de la información, todas las actividades que se llevarán a cabo en Uruguay. Si usted reside fuera de Uruguay su información será transferida a Uruguay, y se procesa y se almacena allí, bajo los estándares de privacidad de Uruguay. Mediante el uso de la aplicación y proporcionar información a nosotros, usted consiente en dicha transferencia y procesamiento de datos en Uruguay.</p>

        <h3>Control de su información personal</h3>
        <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro aplicativo o sitio web. Esta organización sin fines de lucro no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
