:host {
  .main-background {
    --background: var(--dark-sea-green);
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: var(--vidrio);
    ion-grid {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .error-actions {
      color: var(--vidrio);
    }
  }
  .image-wrapper {
    height: calc(160px + 10vw);
    width: 99%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    border-radius: 16px;
    margin: 16px auto 48px;
    img{
      border-radius: 16px;
      height: 100%;
      max-width: none;
      object-fit: contain;
      background: #FFF;
      }
    }
  .ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;

    ion-row:first-child {
      background-color: var(--dark-sea-green);
      font-weight: bold;
      color: var(--vidrio);
      text-align: center;
    }
    ion-col {
      border: 1px solid black;
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }

    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }
  .ion-grid-inv {

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
  }
  .recyclers a {
    color: #034077;
  }
  .stats {
    h3 {
      font-size: 25px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0px;
      margin: 0;
    }
    h4 {
      font-size: 13px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0px;
      color: var(--dark-sea-green);
      text-align: center;
      margin: 0;
    }
  }
  .section-header-bottom ion-col:not(:last-child)::after {
    border-left: 1px solid #E0E0E0;
  }
  .col-1 {
    border: solid #E0E0E0;
    border-width: 0 1px;
  }
  .col-2 {
    border-right: 1px solid #E0E0E0;
  }
  .tabs-wrapper {
    margin-top: 24px;
  }
}
