<app-header display="full"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center section-header">
      <ion-col  size-md="9" size-lg="8" size-xs="12">
        <div class="section-header">
          <h1>Empresas</h1>
          <h2 class="sub-light">Marcas que hacen posible esta app</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col  size-lg="2" size-md="2" size-xs="3">
        <img src="assets/img/ilustraciones-clasificaci-n-b-sica.svg"/>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9" offset-xs="3" offset-md="2">
        <a href="https://salus.uy" target="_blank">Salus.uy</a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col  size-lg="2" size-md="2" size-xs="3">
        <img src="assets/img/ilustraciones-clasificaci-n-b-sica.svg"/>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9" offset-xs="3" offset-md="2">
        <a href="https://salus.uy" target="_blank">Salus.uy</a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col  size-lg="2" size-md="2" size-xs="3">
        <img src="assets/img/ilustraciones-clasificaci-n-b-sica.svg"/>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-lg="6" size-md="8" size-xs="9" offset-xs="3" offset-md="2">
        <a href="https://salus.uy" target="_blank">Salus.uy</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
