:host {
  --ion-grid-padding-xs: 21px;
  --ion-grid-padding-md: 42px;
  --ion-grid-padding-lg: 84px;
  --ion-grid-width-lg: 10px;
  .section-header {
    margin-bottom: 16px;
  }
  .section-partner {
    margin-top: 18px;
    padding-top: 18px;
    border-top: solid 1px #efefef;
    img {
      min-height: 40px;
      max-height: 100px;
      max-width: 100%;
    }
    a {
      font-size: 20px;
      font-weight: bold;
      color: var(--pale-olive-green);
      text-decoration: none;
    }
  }
}
