<app-header display="full"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center section-header">
      <ion-col size-md="9" size-xl="8" size-xs="12">
        <div class="section-header">
          <h1>Auspiciantes</h1>
          <h2 class="sub-light">Marcas que hacen posible esta app</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col class="ion-text-center" size-xl="2" size-sm="3" size-xs="12">
        <img src="assets/img/cocacola.png"/>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col size-xl="6" size-sm="7" size-xs="12" offset-xl="2" offset-sm="3">
        <a href="https://www.coca-coladeuruguay.com.uy" target="_blank">Coca-ColadeUruguay.com.uy</a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col class="ion-text-center" size-xl="2" size-sm="3" size-xs="12">
        <img src="assets/img/conaprole.png"/>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12" offset-xl="2" offset-sm="3">
        <a href="https://conaprole.uy" target="_blank">Conaprole.uy</a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col class="ion-text-center" size-xl="2" size-sm="3" size-xs="12">
        <img src="assets/img/salus.png"/>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12" offset-xl="2" offset-sm="3">
        <a href="https://salus.uy" target="_blank">Salus.uy</a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center section-partner">
      <ion-col class="ion-text-center" size-xl="2" size-sm="3" size-xs="12">
        <img src="assets/img/sc-johnson.png"/>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12">
        <span class="sub-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
      </ion-col>
      <ion-col  size-xl="6" size-sm="7" size-xs="12" offset-xl="2" offset-sm="3">
        <a href="http://scjohnson.com/" target="_blank">SCJohnson.com</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
