:root {
  --ion-text-color: var(--greyish-brown);
  --ion-tab-bar-background: var(--dark-sea-green);
  --ion-tab-bar-background-focused: none;
  // --ion-tab-bar-border-color:
  --ion-tab-bar-color: white;
  // --ion-tab-bar-color-focused: var(--pale-olive-green);
  --ion-tab-bar-color-selected: var(--pale-olive-green);
  --ion-toolbar-background: var(--dark-sea-green);
  --ion-toolbar-color: var(--pale-olive-green);
  --ion-grid-padding: 26px;
  // --ion-toolbar-segment-color	Color of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-color-checked	Color of the checked Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background-checked	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-indicator-color	Color of the Segment Button indicator in the Toolbar
  // --ion-item-background	Background of the Item
  // --ion-item-border-color	Border color of the Item
  // --ion-item-color	Color of the components in the Item
  // --ion-placeholder-color	Color of the placeholder in Inputs
  // Size and spacing variables
  --dr-header-height-map: 122px;
  --dr-header-height-full: 88px;
  --dr-header-height-short: 60px;
  --dr-margin: 12px;
  --dr-searchbox-top: calc(var(--dr-header-height-map) - 32px);
  // Font
  --dr-font-size: 20px;
  --padding-start: 0;
  // --ion-font-family: "SourceSansPro"; // don't work don't know why.
  // components

  --animation-time: 500ms;
  ion-page {
    --background: red;
  }

  ion-app {
    --background: red;
  }

  ion-modal {
    --max-width: 300px;
    --max-height: 230px;
    --border-radius: 16px;
    --border-style: solid 1px #979797;
  }
  ion-grid h1 {
    margin-top: 0;
  }
  ion-title {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 24px;
      color: var(--dark-sea-green);

      .negative {
        color: #ffffff;
      }
    }

    h2 {
      font-size: 32px;
      color: var(--greyish-brown);
    }
  }

  ion-buttons {
    padding-left: 12px;
    padding-right: 12px;
  }
  ion-button {
    --border-radius: 6px;
    --box-shadow: none;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0.7em;
    --padding-end: 0.7em;
    text-transform: none;
    // padding: 10px;
    // margin: 6px;
    font-family: "SourceSansPro";
    font-size: 16px;
    &.submit {
      //height: 60px;
      --background: var(--pale-olive-green);
      --background-activated: var(--pale-olive-green);
      // --background-activated-opacity	Opacity of the button when pressed
      // --background-focused	Background of the button when focused with the tab key
      // --background-focused-opacity	Opacity of the button when focused with the tab key
      --background-hover: var(--pale-olive-green);
      // --background-hover-opacity	Opacity of the background on hover
      --border-radius: 38.5px;
      --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      --color-activated: white;
      --color-focused: white;
      --color-hover: white;
      // --opacity	Opacity of the button
      --padding-bottom: 16px;
      --padding-end: 16px;
      --padding-start: 16px;
      --padding-top: 16px;
      font-size: 18px;
      font-weight: 600;
      --color: var(--vidrio);
      width: 100%;
      height: 60px;
      margin: 4px auto;
      &[type="submit"] {
        margin-top: 38px;
      }
      // --ripple-color	Color of the button ripple effect
      // --transition	Transition of the button
    }
  }
  ion-tabs {
  	overflow: hidden;
  }
  a {
    color: var(--pale-olive-green);
    text-decoration: none;
  }
  img {
    max-width: none;
  }
  .sc-ion-buttons-ios-s ion-button {
    height: 48px;
  }
  .more {
    display: inherit;
    text-align: right;
  }
  .more::after {
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border: solid var(--pale-olive-green);
    display: block;
    content: "";
    border-width: 3px 3px 0 0;
    float: right;
    margin: 6px;
  }
  .location-tag {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--vidrio-secundario);
    border-radius: 4.3px;
    border: solid 1.1px #e5e5e5;
    background-color: var(--vidrio);
    padding: 4px 20px;
  }
  ion-toolbar .toolbar-container {
    height: 100%;
  }
  // Tab
  ion-tab-bar {
  	ion-tab-button {
      @extend .dr-transition-buttons;
      ion-icon, ion-label{
      }
    }
  }
  //hide for now!
  app-sidemenu ion-slides .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  app-sidemenu ion-slides .swiper-pagination-bullet-active {
    background: var(--pale-olive-green);
  }
  app-consejos .swiper-pagination{
    top: calc(180px + 10vw);
    text-align: left;
    left: 0;
    height: 18px;
  }
  app-programs .swiper-pagination,
  app-cards .swiper-pagination{
    //top: calc(12vw + 16vh + 56px);
    top: calc(206px + 10vw);
    text-align: left;
    left: 0;
    height: 18px;
  }
  // botones y chips
  ion-chip {
    padding: 10px;
    // margin: 6px;
    ion-label {
      font-size: 16px;
    }
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
  /******** GENERAL USAGE *************/

  /******** MAP PAGE **************/
  .leaflet-control-container .leaflet-top {
    top: 156px;
    z-index: 400;
  }
  .leaflet-control-container .leaflet-bottom {
    z-index: 400;
  }
  .leaflet-left .leaflet-control {
    margin-left: 12px;
  }
  .leaflet-touch .leaflet-bar,
  .leaflet-bar {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 8px;
    margin-left: 12px;
    a, a:hover {
      width: 39px;
      height: 39px;
      line-height: 39px;
      font-size: 30px;
      color: var(--greyish-brown);
    }
    a:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    a:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
/************ END ROOT *************/
/**********************************/

/*************************************/
/*          GENERAL USAGE           */
/***********************************/
/*** Acordion ***/
accordion ion-list {
  background: var(--ion-color-base);
  padding-left: 5px;
  ion-item {
    --padding-start: 0;
    --border-style: none;
    background: var(--ion-color-base);
    display: inline-flex;
    height: 85px;
    width: 100%;
    margin: 5px 0;
    .item-text {
      max-width: calc(100% - 98px);
      align-items: center;
      ion-label {
        font-size: 20px;
        font-weight: 600;
        color: var(--ion-color-contrast);
      }
      span {

      }
    }
    img {
      position: absolute;
      right: 0;
    }
    &.accordion-text {
      text-align: center;
      font-size: 16px;
      height: inherit;
    }
  }
}

/**** LOADING ****/

.loadingOverlay {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-sea-green);
  z-index: 1050;
  box-sizing: content-box;
  text-align: center;

  img {
    margin: auto;
    float: left;
    width: 100%;
    object-position: center;

    &.loading {
      height: 60vh;
      margin-top: 5vh;
    }
    &.auspiciantes {
      height: 25vh;
      margin-bottom: 10vh;
    }
  }
}

.loadingShow {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.loadingHide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.custom-loading {
  --background: green;
  --backdrop-opacity: 0;

  ion-backdrop {
    background-color: green;
    opacity: 0 !important;
  }
  .main-background {
    --background: var(--dark-sea-green);
  }
  .loading-wrapper {
    -webkit-animation: ld-vortex-out 2s ease-out infinite;
    animation: ld-vortex-out 2s ease-out infinite;
    animation-timing-function: cubic-bezier(0.05, 0, 3, 0.05);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    // min-width: 90px;
    // min-height: 90px;
    box-shadow: none;
    -webkit-box-shadow: none;

    img {
      height: 100%;
    }
  }
}
// social share icons
.social-links {
  height: 130px;
  background: none;

  ion-toolbar {
    --background: none;
    max-width: 375px;
    margin: 0 auto;

    ion-buttons {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 130px;

      & > * {
        // width: auto;  /* Or whatever */
        // height: auto; /* Or whatever */
        margin: auto;
        /* Magic! */
      }

      span {
        color: white;
        font-weight: normal;
        font-size: 14px;
      }

      ion-button {
        --border-radius: 11px;
        --padding-end: 0;
        --padding-top: 0;
        --padding-start: 0;
        --padding-bottom: 0;

        ion-icon {
          font-size: 38px;
          // --font-size: 50px;
        }
      }
    }
  }
}
#custom_backdrop {
  width: 100%;
  top: var(--dr-header-height-map);
  position: absolute;
  background: black;
  opacity: 0.75;
  bottom: 0;
  z-index: 1001;

  &.header-large {
    top: var(--dr-header-height-map);
  }

  &.show {
    opacity: 0.75;
    display: block;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios,
.alert-radio-label.sc-ion-alert-wp {
  white-space: normal;
}
.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

ion-icon {
  // background: red;
  &.right {
    position: absolute;
    right: 0;
  }

  &.left {
    position: absolute;
    left: 0;
  }
}
.button-native {
  color: var(--pale-olive-green);
}
// utils
.section {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid rgba(155,155,155,0.3);
}
.sub-light {
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  color: var(--vidrio-secundario);
}
.dr-transition{
  transition: var(--animation-time) ease-in-out;
}
.dr-transition-buttons{
  transition: var(--animation-time) ease-in-out;
}
.show {
  @extend .dr-transition;
  opacity: 1;
  visibility: visible;
}

.hide {
  @extend .dr-transition;
  opacity: 0;
  visibility: hidden;
}

.shrink{
  @extend .dr-transition;
  height: 0 !important;
  overflow: hidden;
}
.expand{
  @extend .dr-transition;
  height: auto;
  overflow: hidden;
}

.circle {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-right: 12px;

  &.green {
    background: var(--bluish-green);
  }

  &.red {
    background: var(--vermillion);
  }
}


// Core structure styles/animations
// .header-*{
//   transition: 1s ease-out;
// }
.header-map{
  height: var(--dr-header-height-map);
}
.header-full{
  height: var(--dr-header-height-full);
}
.header-short{
  height: var(--dr-header-height-short);
}
.header-hide{
  height: 0;
}

ion-app {
  #search-app-content{
    @extend .hide;
  }
  #header-main ion-toolbar {
    // height: auto;
  }
  &.mapa {
    .ion-page {
      #header-main ion-toolbar {
        height: var(--dr-header-height-map);
      }
      #search-app-content{
        @extend .show;
      }
    }
    &.cupertinoOpen{
      #header-main ion-toolbar {
        height: 0;
        @extend .dr-transition;
      }
      #search-app-content{
        top: -80px;
        @extend .dr-transition;
        // @extend .hide;
      }
      ion-tab-bar {
        @extend .dr-transition;
        display: none;
      }
    }
    &.cupertinoClosed{
      #header-main ion-toolbar {
        height: var(--dr-header-height-map);
        @extend .dr-transition;
      }
      #search-app-content{
        top: var(--dr-searchbox-top);
        @extend .dr-transition;
        // @extend .show;
      }
      ion-tab-bar {
        @extend .dr-transition;
        display: inherit;
      }
    }
  }

  &.contacto{}
  &.sobre-el-proyecto{}
}

ion-img.logo {
  object-position: left;
  width: inherit;
  // @extend .hide;
  // opacity:s 0;
}

/**********************************/
/*        SEARCH COMPONENT       */
/********************************/

#search-app-content {
  top: var(--dr-searchbox-top);
  z-index: 1002;
  position: absolute;
  left: 0;
  width: 100%;
  height: auto !important;

  #results-title {
    position: absolute;
    top: 100px;
    color: white;
    z-index: 1002;

    &.hide {
      opacity: 0;
    }

    &.show {
      opacity: 1;
    }
  }

  ion-auto-complete {
    ul {
      position: absolute;
      height: calc(100vh - var(--dr-header-height-map));
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      padding: var(--dr-searchbox-top) 0 0;
      overflow: auto !important;
      display: block;
      background: none;
      box-shadow: none;
      z-index: 1002;
      padding: --dr-margin;

      li {
        background: none;
        border: none;
        margin: 0 0 6px;
        padding: 0 12px;
        height: 50px;

        ion-chip {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 13px 20px;
          border-radius: 6px;

          ion-label {
            font-size: 18px;
          }
          // ion-icon {
          //   position: absolute;
          //   right: 20px;
          // }
        }
      }
    }
    .loading input.searchbar-input {
      background: #FFF;
    }
  }

  ion-content,
  ion-list {
    --background: none;
  }

  .item .item-content {
    background-color: transparent !important;
  }

  ion-searchbar {
    z-index: 1010;
    --clear-button-color: var(--pale-olive-green);
    .searchbar-input.sc-ion-searchbar-md {
      // position: absolute;
      padding: 16px 36px 16px 16px;
      border-radius: 36px;
      box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
      top: 8px;
      left: auto;
      right: 11px;
      background-color: var(--pale-olive-green);
      width: 20px;
      height: 20px;
      border-radius: 40px;
      padding: 12px;
    }
    .searchbar-clear-button.sc-ion-searchbar-md {
      background-color: #fff;
      width: 50px;
      height: 50px;
      right: 6px;
      top: 6px;
      border-radius: 10px;
    }
    .searchbar-clear-icon.sc-ion-searchbar-md {
      width: 50px;
    }
  }
  /***   MAP PAGE   ***/
  .leaflet-control-container .leaflet-routing-container,
  .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
  }
}

/***************************/
/*        MAP PAGE        */
/*************************/
#map{
  .dr-marker{
    fill: var(--ion-color-base);
    > svg{
      position: absolute;
    }
    > img{
      position: absolute;
      left: 6px;
    }
    // -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    // filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    /* Similar syntax to box-shadow */
  }
}
.cupertino-pane {
  z-index: 400;
  .pane {
    overflow: visible !important;
    padding: 2px 14px;
  }
}
