:root {
  --ion-color-brown: #ba2727;
  --ion-color-brown-rgb: 186, 39, 39;
  --ion-color-brown-contrast: #ffffff;
  --ion-color-brown-contrast-rgb: 255, 255, 255;
  --ion-color-brown-shade: #a42222;
  --ion-color-brown-tint: #c13d3d;
  --dark-grass-green: #417505;
  --navy-green: #284407;
  --navy-green-two: #284407;
  --dark-blue: #4a90e2;
  --bright-blue: #4acee2;
  --light-gray: #f4f4f4;
  --grey: #737373;
  --charcoal-grey: #383a48;
  --dark-sea-green: #0d744e;
  --sun-yellow: #fed434;
  --sunflower-yellow: #ffcd00;
  --orange-yellow: #ff9f00;
  --black: #000000;
  --lightblue: #75aaf1;
  --dusty-orange: #f46539;
  --greyish-brown: #4a4a4a;
  --squash: #f5a624;
  --marigold: #ffcb02;
  --white: #d8d8d8;
  --dark-seafoam: #1eac86;
  --pale-olive-green: #9cd060;
  --warm-grey: #9b9b9b;
  --ion-text-color: var(--greyish-brown);
  --ion-tab-bar-background: var(--dark-sea-green);
  --ion-tab-bar-background-focused: none;
  // --ion-tab-bar-border-color:
  --ion-tab-bar-color: white;
  --ion-tab-bar-color-selected: var(--pale-olive-green);
  --ion-toolbar-background: var(--dark-sea-green);
  --ion-toolbar-color: var(--pale-olive-green);
  // --ion-toolbar-segment-color	Color of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-color-checked	Color of the checked Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-background-checked	Background of the Segment Buttons in the Toolbar
  // --ion-toolbar-segment-indicator-color	Color of the Segment Button indicator in the Toolbar
  // --ion-item-background	Background of the Item
  // --ion-item-border-color	Border color of the Item
  // --ion-item-color	Color of the components in the Item
  // --ion-placeholder-color	Color of the placeholder in Inputs
  // components
  ion-header {}

  ion-toolbar {
    height: 138px;
  }

  ion-button {}

  ion-button {
    --background: white;
    --background-activated: var(--pale-olive-green);
    // --background-activated-opacity	Opacity of the button when pressed
    // --background-focused	Background of the button when focused with the tab key
    // --background-focused-opacity	Opacity of the button when focused with the tab key
    --background-hover: var(--pale-olive-green);
    // --background-hover-opacity	Opacity of the background on hover
    --border-color: none;
    --border-radius: 38.5px;
    --border-style: none;
    --border-width: none;
    --box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    --color: var(--pale-olive-green);
    --color-activated: white;
    --color-focused: white;
    --color-hover: white;
    // --opacity	Opacity of the button
    --padding-bottom: 16px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 16px;
    // --ripple-color	Color of the button ripple effect
    // --transition	Transition of the button
  }
}
// Fonts
@font-face {
  font-family: "PTSerif";
  src: local(PTSerif-Regular),
    url('src/assets/fonts/PTSerif-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto-Medium),
    url('src/assets/fonts/Roboto-Medium.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SourceSansPro";
  src: local(SourceSansPro-Regular), url("/path/to/SourceSansPro-Regular.woff2") format("woff2"), url("/path/to/SourceSansPro-Regular.woff") format("woff"), url("/path/to/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  src: local(SourceSansPro-Semibold), url("/path/to/SourceSansPro-Semibold.woff2") format("woff2"), url("/path/to/SourceSansPro-Semibold.woff") format("woff"), url("/path/to/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SourceSansPro";
  src: local(SourceSansPro-Regular),
    url('src/assets/fonts/SourceSansPro-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

}
// Estilos html elements
*{
    font-family: "SourceSansPro";
}

.h2 {
  height: 40px;
  font-size: 32px;
  color: var(--greyish-brown);
}

.subtitulos {
  font-size: 14px;
  font-weight: bold;
  color: var(--greyish-brown);
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--greyish-brown);

  .enphasize {
    line-height: 1.44;
    color: --warm-grey;
  }
}
// Componentes Ionic
ion-title {
  width: 100%;
  text-align: center;

  h1 {
    font-size: 24px;
    color: var(--dark-sea-green);

    .negative {
      color: #ffffff;
    }
  }

  h2 {
    font-size: 32px;
    color: var(--greyish-brown);
  }
}
// menu
// slider
ion-slides .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  opacity: 0.5;
}
// Leaflet
.leaflet-verticalcenter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 80px;
  left: 20px;
  right: auto;
  // transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-verticalcenter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 80px;
  left: 20px;
  right: auto;
  // transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.loadingOverlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: green;
  z-index: 10000;
  box-sizing: content-box;
  text-align: center;

  img {
    max-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.loadingShow {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.loadingHide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}
// ion-loading.custom-loading {
//   ion-backdrop {
//     background: white;
//   }
//   .loading-wrapper {
//     background: red;
//     background-size: 100% 100%; /* to change dimension of background */
//     padding-top: 36px; /* padding top of white square */
//     padding-bottom: 36px; /* padding bottom of white square */
//     border-radius: 0.8rem; /* border-radius white square */
//     .custom-class {
//     }
//   }
// }

.custom-loading {
  --background: green;
  --backdrop-opacity: 0;

  ion-backdrop {
    background-color: green;
    opacity: 0 !important;
  }

  .loading-wrapper {
    -webkit-animation: ld-vortex-out 2s ease-out infinite;
    animation: ld-vortex-out 2s ease-out infinite;
    animation-timing-function: cubic-bezier(0.05, 0, 3, 0.05);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    // min-width: 90px;
    // min-height: 90px;
    box-shadow: none;
    -webkit-box-shadow: none;

    img {
      height: 100%;
    }
  }
}

#custom_backdrop {
  width: 100%;
  top: 32px;
  position: absolute;
  background: black;
  opacity: 0.75;
  bottom: 0;
  z-index: 20000;

  &.show {
    opacity: 0.75;
    display: block;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

#search-app-content {
  margin-top: 105px;
  z-index: 22000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding: 0 12px  0 12px;
  &.collapsed{
    height: 0px;
  }
  &.expand{
    height: 100%;
  }
  ion-content,
  ion-list {
    --background: none;
  }

  .item .item-content {
    background-color: transparent !important;
  }

  ion-auto-complete {
    padding: 0 12px;
    overflow: visible !important;
    max-width: 100% !important;
    position: relative;
    z-index: 30000;

    ul {
      z-index: 30000 !important;
    }
  }

  ion-searchbar {
    .searchbar-input.sc-ion-searchbar-md {
      // position: absolute;
      z-index: 22000;
      padding: 16px 36px 16px 16px;
      border-radius: 36px;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
      top: 20px;
      left: auto;
      right: 24px;
    }
  }

  .resultsContent {
    // position: absolute;
    // display: block;
    // min-width: 100%;
    // min-height: 100%;
    // top: 0px;
    ion-chip{
      &.suggestion{
        width: 40%;
        padding: 3px;
      }
    }
    // for two rows display
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    z-index: 30000;
    position: relative;
    padding: 12px 20px;
    &.showResults {
      opacity: 1;
      display: block;
      visibility: visible;
    }

    &.hideResults {
      opacity: 0;
      display: none;
      visibility: hidden;
      z-index: 0;
    }
  }
}
