<app-header display="full"
  title="Consejos"></app-header>


<ion-content>

  <div class="consejos-top">

    <h1>¿Cómo clasificar en casa?</h1>
    <p>Proponemos 3 niveles para que clasifiques tus residuos en casa, en función del compromiso que puedas asumir y las soluciones que tenés
      a tu alcance:</p>

  </div>
  <ion-slides pager="true">
    <ion-slide>
      <p>
        <img src="assets/img/ilustraciones-clasificaci-n-b-sica.svg" alt="">
      </p>
      <div class="slide-content">
        <span class="subtitle">Tipos de clasificación</span>
        <h2>Clasificación básica</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.
        </p>
        <accordion title="Materiales Reciclables" class="ion-color-materiales-reciclables" img="/assets/img/imateriales-reciclables.svg">
          <ion-list>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Plásticos</ion-label>
                <ion-note slot="start">Botellas, Bolsas, Tapas y Envases</ion-note>
              </div>
              <img src="/assets/img/iplasticos.svg">
            </ion-item>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Papel y Cartón</ion-label>
                <ion-note slot="start">Botellas y Frascos</ion-note>
              </div>
              <img src="/assets/img/ipapel-y-carton.svg">
            </ion-item>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Vidrios</ion-label>
                <ion-note slot="start">Botellas y Frascos</ion-note>
              </div>
              <img src="/assets/img/ividrios.svg">
            </ion-item>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Metales</ion-label>
                <ion-note slot="start">Latas, Conservas y Tapas</ion-note>
              </div>
              <img src="/assets/img/imetales.svg">
            </ion-item>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Envases compuestos</ion-label>
                <ion-note slot="start">Tetrapacks, cajas de jugos, leche o alimentos, envases metalizado.</ion-note>
              </div>
              <img src="/assets/img/ienvases-compuestos.svg">
            </ion-item>
            <ion-item lines="none">
              <div class="item-text">
                <ion-label>Maderas</ion-label>
                <ion-note slot="start">Palos, cajas y tablas</ion-note>
              </div>
              <img src="/assets/img/imaderas.svg">
            </ion-item>
            <ion-item>
              <div class="item-text">
                <ion-label>Textiles</ion-label>
                <ion-note slot="start">Ropas y trapos</ion-note>
              </div>
              <img src="/assets/img/itextiles.svg">
            </ion-item>
          </ion-list>
          <ion-item lines="none">
            Todos los materiales que pueden ser valorizados
          </ion-item>
        </accordion>
      </div>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets/img/ilustraciones-clasificaci-n-intermedia.svg" alt="">
      </p>
      <div class="slide-content">
        <span class="subtitle">Tipos de clasificación</span>
        <h2>Clasificación básica</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets/img/ilustraciones-clasificaci-n-avanzada.svg" alt="">
      </p>
      <div class="slide-content">
        <span class="subtitle">Tipos de clasificación</span>
        <h2>Clasificación básica</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.</p>
      </div>
    </ion-slide>
    <span class="subtitle">Tipos de clasificación</span>
    <p>Consultá la guía de buenas prácticas de CEMPRE</p>
  </ion-slides>

</ion-content>
