<ion-app [ngClass]="session.currentPage + ' ' + session.cupertinoState">
  <!-- <app-header display="full"></app-header> -->

  <div class="loadingOverlay" [ngClass]="session.isLoading ? 'loadingShow' : 'loadingHide'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="8" size-lg="6" size-xs="12">
          <img src="assets/img/dondereciclo-loading.svg" alt="Donde Reciclo cargando" class="loading">
          <img src="assets/img/dondereciclo-auspiciantes2.svg" alt="Donde Reciclo auspiciantes" class="auspiciantes">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="notification-item" *ngIf="notification.message && notification.showMessage">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="{{notification.message.class}}" size-lg="6" size-xs="12" offset-lg="3.5" padding="0">
          <ion-item lines="none">
            <ion-icon
              class="left"
              [name]="'dr-' + notification.message.class">
            </ion-icon>
            <div class="item-text">
              <ion-label [innerHTML]="notification.message.title"></ion-label>
              <ion-note slot="start" [innerHTML]="notification.message.note" *ngIf="notification.message.note"></ion-note>
            </div>
            <ion-button (click)="closeNotification()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button class="submit contrast"
            [routerLink]="notification.message.link"
            (click)="closeNotification()"
            [innerHTML]="notification.message.link_title"
            *ngIf="notification.message.link != null">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-sidemenu></app-sidemenu>
</ion-app>
