<ion-app [ngClass]="session.currentPage + ' ' + session.cupertinoState">
  <!-- <app-header display="full"></app-header> -->
  <ion-content >
    <div class="loadingOverlay" [ngClass]="session.isLoading ? 'loadingShow' : 'loadingHide'">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="8" size-lg="6" size-xs="12">
            <img src="assets/img/dondereciclo-loading.svg" alt="Donde Reciclo cargando" class="loading">
            <img *ngIf="session.country == 'Uruguay'" src="assets/img/dondereciclo-auspiciantes2.svg" alt="Donde Reciclo auspiciantes" class="auspiciantes">
            <img *ngIf="session.country == 'Colombia'" src="assets/img/dondereciclo-auspiciantes-co.svg" alt="Donde Reciclo auspiciantes" class="auspiciantes">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="overlay main-overlay" *ngIf="utils.showOverlay">
      <ion-button class="back-button" color="pale-olive-green" (click)="overlayClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <app-image-slider></app-image-slider>
    </div>
  </ion-content>
  <app-sidemenu></app-sidemenu>
</ion-app>
