<ion-header>
  <ion-toolbar text-center>
    <ion-title>Compartí</ion-title>
    <ion-button background="red" slot="end" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        ¿Te gusta la app? <br>
        ¡Compartila!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Iconos sociales
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>