:host{
  height: 100%;
  ion-button{
    text-align: left;
    height: 50px;
    max-width: 380px;
    ion-label{
      position: absolute;
      left: 0px;
    }
  }
  #search-app-content {
    ion-auto-complete {
      padding: 0 12px;
      overflow: visible !important;
      width: 100%;
      max-width: 100% !important;
      position: relative;
      z-index: 1020;

      ion-button{
        width: 100%;
        ion-label{
          position: absolute;
          left: 57px;
        }
      }
    }

    #suggestions {
      z-index: 500;
      position: relative;
      overflow-y: auto;
      ion-list-header {
        --color: white;
      }
      .resultsWrap {
        margin: -6px;
        padding: 12px;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
        & > ion-button {
          opacity: 1;
          margin: 6px;
          height: 50px;
          min-width: 220px;
        }
      }
    }
  }
  #search-item {
    transition: 500ms ease-in-out;
    margin: 167px 12px;
    ion-item {
      --min-height: 55px;
      max-height: 122px;
      height: inherit;
      --background: var(--ion-color-base);
      --padding-top: 10px;
      --padding-bottom: 15px;
      --padding-start: 20px;
      --padding-end: 20px;
      --border-radius: 6px;
      .item-text {
        position: relative;
        left: 53px;
        max-width: calc(100% - 92px);
        word-wrap: break-word;
        ion-note,
        ion-label {
          white-space: normal;
          position: relative;
          --color: var(--ion-color-contrast);
        }
        ion-label {
          font-size: 18px;
          font-weight: bold;
        }
        ion-note {
          font-size: 12px;
        }
      }
      ion-button {
        position: absolute;
        right: 0;
        height: inherit;
        --background: none;
        --border-left: 1px solid gray;
        ion-icon {
          color: var(--ion-color-contrast);
        }
      }
      ion-button::before {
        content: "";
        width: 1px;
        height: 15px;
        display: block;
        border-left: 1px solid var(--ion-color-contrast);
        position: absolute;
        top: 5px;
        opacity: 0.3;
      }
    }
  }
}
