<div id="custom_backdrop" (click)="hideSearch('backdrop')" [ngClass]="searchVisibility ? 'show' : 'hide'"></div>
<div id="search-app-content">
  <ion-auto-complete
    #searchbar
    class="searchContent"
    [options]="{ placeholder : '¿Qué o dónde querés reciclar?' }"
    [template]="dr"
    [showResultsFirst]="true"
    (click)="showSearch($event)"
    (itemSelected)="itemSelected($event)"
    [dataProvider]="this"
    [clearInvalidInput]="false"
    >
  </ion-auto-complete>
  <div class="swift-buttons" [ngClass]="searchVisibility ? 'show expand' : 'hide shrink'">
    Buscar:
    <div class="swift-container">
      <span [ngClass]="!searchAddress ? 'active selectable' : 'selectable'" (click)="search4address(false)">materiales</span>
      <span [ngClass]="searchAddress ? 'active selectable' : 'selectable'" (click)="search4address(true)">direcciones</span>
    </div>
  </div>
  <div id="suggestions" [ngClass]="(suggestVisibility && searchVisibility) ? 'show expand' : 'hide shrink'">
    <ion-list-header>Materiales/residuos sugeridos:</ion-list-header>
    <div class="resultsWrap">
      <ion-button [color]="predefined.class"
        *ngFor="let predefined of environment[session.country].predefinedSearch;"
        [ngClass]="predefined.class"
        (click)="searchSuggestion(predefined)">
        <ion-label [innerHTML]="predefined.name"></ion-label>
        <ion-icon class="right" [name]="'dr-'+predefined.class"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- <ion-searchbar id="searchBar" type="text" debounce="500" animated placeholder="Busca materiales" color="dark"
  (click)="showSearch()" (ionChange)="searchAPI($event)" clearInput></ion-searchbar> -->
  <ng-template [ngClass]=""
    #dr
    let-attrs="attrs"
    [ngClass]="searchVisibility ? 'show' : 'hide'">
    <ion-button [color]="attrs.data.class"
      expand="block"
      [ngClass]="attrs.data.class"
      *ngIf="attrs.data.class != 'none'"
    >
      <ion-icon
        class="left"
        [name]="'dr-' + attrs.data.class">
      </ion-icon>
      <ion-label [innerHTML]="attrs.data.name"></ion-label>
    </ion-button>
    <span *ngIf="attrs.data.class == 'none'">No hay resultados</span>
  </ng-template>

</div>
<div id="search-item" *ngIf="session.searchItem && session.showSearchItem">
  <ion-item lines="none" [color]="session.searchItem.class">
    <ion-icon
    class="left"
    [name]="'dr-' + session.searchItem.class">
  </ion-icon>
  <div class="item-text">
    <ion-label [innerHTML]="session.searchItem.name"></ion-label>
    <ion-note slot="start" [innerHTML]="session.searchItem.deposition" *ngIf="session.searchItem.deposition"></ion-note>
  </div>
  <ion-button (click)="closeSelection()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</ion-item>
</div>
