<app-header display="full"></app-header>
<ion-content *ngIf="session.country == 'Uruguay'">
  <ion-slides #cards (ionSlideWillChange)="slideChanging()" pager>
    <ion-slide class="plastic ion-color-plasticos">
      <div class="slide-head">
        <img src="assets/img/plastic-demo-head.jpg" alt="botellas plásticas encabezado">
        <div class="under-image"></div>
      </div>
      <div class="slide-content">
        <h2>Plásticos</h2>
        <span class="subtitle">¿De dónde se obtiene el material?</span>
        <p>
          Los materiales plásticos pueden ser de origen sintético no renovable (petróleo) o de origen natural fabricados a partir de materiales renovables (celulosa, caucho, bagazo, maíz).
          Además cada uno de estos tipos pueden ser biodegradables (bioplásticos) o no biodegradables (polímeros convencionales).
        </p>
        <p>
          Los plásticos son materiales que mediante la aplicación de una compresión más o menos prolongada son capaces de cambiar de forma y conservar ésta de modo permanente
          (a diferencia de los materiales elásticos, que retoman su forma original luego que desaparece la compresión).
        </p>
        <p>
          Los polímeros convencionales tienen ciertas propiedades que hacen que sean materiales universalmente utilizados y preferidos por su bajo costo de producción, resistentes a la
          corrosión y al deterioro por agentes químicos, son impermeables, livianos, pueden ser coloreados y adaptados a diferentes formas.
        </p>
        <p>
          Los plásticos recuperados o reciclados son materiales que surgen de un reprocesamiento, en varias etapas, de materiales post consumo o post industriales.
        </p>
        <div class="section">
        <span class="subtitle">¿Cuáles son los productos de este material que se reciclan y cuáles no?</span>
        <p>
          Los plásticos se clasifican en distintos tipos según su material. Cabe destacar que todos son potencialmente reciclables dependiendo de la demanda de las empresas del reciclaje.
        </p>
        <p>
          ACÁ VAN ACORDEONES VERDE/AMARILLO/ROJO SEGÚN RECICLABILIDAD
        </p>
        <div class="section">
        <span class="subtitle">¿Cuáles son sus certificaciones y/o sellos?</span>
        <p>
          ACÁ VA ACORDEÓN DE SELLOS
        </p>
        <div class="section">
        <span class="subtitle">Recomendaciones a tener en cuenta en la clasificación/reciclaje</span>
        <p>
          Estos materiales se clasifican dentro de la categoría “Plásticos” identificada con color amarillo o en “Reciclables” en color verde según la norma Unit 1239.
        </p>
        <p>
          Los que sean envases se deben escurrir y aplastar antes de separarlos para reciclar. Los que sean bandejas u otro tipo de contenedores, deben estar limpios (sin necesidad de
          lavarlos con jabón), sin restos de comida, secos y lo más compactos posibles.
        </p>
        <p>
          Realizando esto, se hace más eficiente toda la cadena de reciclaje. Se disminuye el volumen que van a ocupar los materiales en los contenedores, luego en los camiones de
          recolección de reciclables que aprovechan mejor su capacidad, haciendo menos cantidad de viajes, con menos gasto de combustible y disminución de las emisiones contaminantes al aire.
        </p>
        <div class="section">
        <span class="subtitle">¿Qué beneficios brinda el reciclaje?</span>
        <p>
          El reciclaje de plástico tiene como principal beneficio la valorización de un material útil, y no renovable, que de otra manera iría a disposición final en vertederos (tardando
          varios cientos de años en degradarse) o podría terminar en cursos de agua generando obstrucciones, drenajes deficientes e incluso contaminación y mortandad en el ecosistema marino.
          La cadena de reciclaje brinda mano de obra a hombres y mujeres del Uruguay.
        </p>
        <p>
          Los precios pagados por estos materiales suelen ser muy variables dependiendo del precio del petróleo. La cadena de reciclaje de plásticos se enfrenta constantemente al desafío
          de lograr negocios sostenibles, ya que la materia prima virgen en muchos momentos es más conveniente que la materia prima reciclada.
        </p>
        <div class="section">
        <span class="subtitle">¿Qué se produce en Uruguay a partir de materiales recuperados?</span>
        <p>
          En Uruguay la industria de productos plásticos representa un sector importante con 30 empresas y X puestos de trabajo. La capacidad de generar localmente productos con plásticos
          recuperados de calidad, depende de la obtención en volúmen, y de su procesamiento que no siempre es rentable en todas sus etapas localmente. Cada día surgen más proyectos locales y
          empresas que buscan dar valor a esa cadena de producción y el aporte de buen material clasificado es fundamental para su viabilidad.
        </p>
        <p>
          El PET reciclado (RPET) post consumo es clasificado por color, triturado y lavado para la generación de escamas. Dichas escamas se exportan para su reciclaje. En Uruguay se importan
          las escamas de RPET para fabricar botellas.
        </p>
        <p>
          El PEBD recuperado post consumo se utiliza principalmente para la fabricación de bolsas de residuos.
        </p>
        <p>
          El PEAD recuperado post consumo se utiliza para la fabricación de baldes, cañerías de desagües, cisternas y otros productos sanitarios, cajones, entre otros.
        </p>
        <p>
          Otros productos fabricados con plásticos reciclados son las maderas plásticas, postes y piques para el campo, pallets, cartonplast, entre otros.
        </p>
        <div class="section">
        <span class="subtitle">Flujo de materiales y composición</span>
        <p>
            <img src="assets/img/flujo-plastico.svg" alt="Flujo de materiales plásticos">
            <img src="assets/img/composicion-plastico.svg" alt="Composición de plástico en residuos domicilarios: 16%">
        </p>
        <div class="section">
        </div>
      </div>
    </ion-slide>
    <ion-slide class="metal ion-color-metales">
      <div class="slide-head">
        <img src="assets/img/metal-demo-head.jpg" alt="metales para reciclaje">
        <div class="under-image"></div>
      </div>
      <div class="slide-content">
        <h2>Metales</h2>
        <span class="subtitle">Ficha subtítulo</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate.
        </p>
        <div class="card-thumbs">
          <img src="assets/img/flujo-plastico.svg" alt="Flujo de materiales plásticos">
          <img src="assets/img/composicion-plastico.svg" alt="Composición de plástico en residuos domicilarios: 16%">
          <img src="assets/img/plastic-demo3.jpg" class="last" alt="botellas plásticas">
        </div>
        <div class="card-video">
          <iframe
            width="100%"
            height="315"
            [src]="videos[0].url"
            frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
